@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo</h1>
    <p>Este é um projeto para testar meu conhecimento em ASP.NET CORE MVC para a empresa Engloba Sistemas:).</p>
</div>
